* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-start {
    display: block;
    background-color: rgba(0, 255, 255, 0.534);
    border-radius: 15px;
    margin: 2rem auto;
    padding: 1rem;
    color: #fff;
}

.container {
    width: 1500px;
    height: 1000px;
    border: 1px solid #777;
    margin: 1rem auto;
    background-image: url("../img/13.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "day1 day2 day3 day4"
    "day5 day6 day7 day8"
    "day9 day10 day11 day12"
    "day13 day14 day15 day16"
    "day17 day18 day19 day20"
    "day21 day22 day23 day24";
}

.image {
    background-image: none;
    background-size: cover;
    color: #fff;
    background-position: center;
}

.text {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border: 2px solid #777;
    transition: opasity 3s;
}